/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;

// The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default;

// Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";



// .sidebar-menu-list{
//   & a{
//     font-size: 1.2em;
//     padding: 20px auto;
//   }
//   & .sidebar-menu-icon-left{
//     margin-right: 20px;
//     font-size: 1.5em;
//   }
// }

.sidebar-menu-top-panel{
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sidebar-menu-footer{
  height: 10vh;
  & a:before{
    margin-right: 20px;
    vertical-align: top;
  }
}

span.input-label{
  font-weight: bold;
}

span.input-label + .item-radio{
  margin-top: 10px;
}

.product-order-list{
  margin-bottom: 0;
}
