<ion-view view-title="List">
  <ion-content>

    <!-- content goes here -->
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Amount:</span>
        <input type="text" placeholder="Amount in litres">
      </label>
      <label class="item item-input">
        <span class="input-label">Contact Number:</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Delivery Address:</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Nearest landmark:</span>
        <input type="text">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Payment Option:
        </div>
        <select>
          <option>Cash</option>
          <option>In-App</option>
        </select>
      </label>
    </div>
    
    <div class="row">
      <div class="col">
        <button class="button button-block button-balanced">
          Order Now
        </button>
      </div>
    </div>  
    

  </ion-content>
</ion-view>
