<ion-view view-title="Dashboard">
  <ion-content>

    <!-- content goes here -->
    <div class="card">
      <div class="item item-divider">
        <h4>Usage History 1</h4>
      </div>
      <div class="item item-text-wrap">
        arbitrary info here
      </div>
      <div class="item item-divider">
        footer here
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <h4>Usage History 2</h4>
      </div>
      <div class="item item-text-wrap">
        arbitrary info here
      </div>
      <div class="item item-divider">
        footer here
      </div>
    </div>

  </ion-content>
</ion-view>
