<ion-view><!--view-title="Dashboard"-->
  <div class="bar bar-subheader">
    <h2 class="title">Dashboard</h2>
  </div>
  <ion-content class="has-subheader">

    <!-- content goes here -->
    <div class="card">
      <div class="item item-divider">
        <h4>Diesel Current Price</h4>
      </div>
      <div class="item item-text-wrap">
        <p>
          <span class="lead">N 150.00</span> per litre
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        <h4>Gas Current Price</h4>
      </div>
      <div class="item item-text-wrap">
        <p>
          <span class="lead">N 150.00</span> per cannister
        </p>
      </div>
    </div>
    <div class="list card purchase-history">
      <div class="item item-divider">
        <h4>Purchase History</h4>
      </div>
      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-android-done"></i>
        Order #: 23E347HJ
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-android-done"></i>
        Order #: B55JQA90
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-android-close"></i>
        Order #: CCB0999L
        <i class="icon ion-chevron-right"></i>
      </a>

      <a href="#" class="item item-icon-left item-icon-right">
        <i class="icon ion-android-close"></i>
        Order #: B55JQA9X
        <i class="icon ion-chevron-right"></i>
      </a>
    </div>

  </ion-content>
</ion-view>
