<ion-side-menus enable-menu-with-back-views="false">

  <!-- CONTENT -->
  <ion-side-menu-content>

    <!-- header bar -->
    <!-- the nav bar will be updated as we navigate between views -->
    <ion-nav-bar class="bar-assertive">
      <!-- back button, shown if applicable -->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- nav button, shown if applicable -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- ROUTING INJECTED HERE: pageContent -->
    <ion-nav-view name="pageContent"></ion-nav-view>

  </ion-side-menu-content>

  <!-- SIDEMENU -->
  <ion-side-menu side="left">

    <!-- menu header -->
    <!-- <ion-header-bar class="bar-assertive">
      <h1 class="title">Fuelbuddy</h1>
    </ion-header-bar> -->

    <!-- menu content -->
    <!-- <ion-content>
      <ion-list class="sidebar-menu-list">
        <ion-item menu-close ui-sref="main.dashboard">
          <i class="icon-left ion-android-home sidebar-menu-icon-left"></i> Dashboard
        </ion-item>
        <ion-item menu-close ui-sref="main.diesel">
          <i class="icon-left ion-android-add sidebar-menu-icon-left"></i> Buy Diesel
        </ion-item>
        <ion-item menu-close ui-sref="main.gas">
          <i class="icon-left ion-android-add sidebar-menu-icon-left"></i> Buy Gas
        </ion-item>
        <ion-item menu-close ui-sref="main.debug">
          Debug
        </ion-item>
      </ion-list>
    </ion-content> -->
    <div class="row">
      <div class="col padding">
        <h1>Fuelbuddy</h1>
      </div>
    </div>
    <div class="list">
      <a class="item item-icon-left menu-close" ui-sref="main.dashboard">
        <i class="icon ion-android-home"></i> Dashboard
      </a>
      <a class="item item-icon-left menu-close" ui-sref="main.diesel">
        <i class="icon ion-android-add"></i> Buy Diesel
      </a>
      <a class="item item-icon-left menu-close" ui-sref="main.gas">
        <i class="icon ion-android-add"></i> Buy Gas
      </a>
      <a class="item item-icon-left menu-close" ui-sref="main.debug">
        <i class="icon ion-android-add"></i> Debug
      </a>
      <a class="item item-icon-left menu-close" ui-sref="main.gas">
        <i class="icon ion-gear-b"></i> Settings
      </a>
    </div>

  </ion-side-menu>

</ion-side-menus>
