<ion-view><!--view-title="Settings"-->
  <div class="bar bar-subheader">
    <h2 class="title">Sub Header</h2>
  </div>
  <ion-content class="has-subheader">

    <!-- content goes here -->
    <ul class="list">
      <li class="item item-toggle">
         Option 1
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Option 2
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Option 3
         <label class="toggle toggle-positive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>

  </ion-content>
</ion-view>
